/** material ui */
@import '../../../node_modules/material-ui/src/less/scaffolding.less';
@import '../../../node_modules/material-ui/src/less/components.less';

/** Google web Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@import '../../../node_modules/flexboxgrid/dist/flexboxgrid.css';

body {
  background-color: @grey-100;
}

.app-bar {
  position: absolute;
  height: 128px;
  z-index: 0;
}

.page-container {
  padding-top: 64px;

  .content {
    z-index: 1;
    background-color: #fff;

    form {
      .form-field {
        width: 100%;
      }

      button, a {
        float: right;
        margin-top: 2rem;
      }

      .error-message {
        color: red;
      }
    }
  }

  .content > div {
    padding: 2rem;
  }
}
