/** material ui */
@import '~material-ui/src/less/scaffolding.less';
@import '~material-ui/src/less/components.less';

/** Google web Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@import '~flexboxgrid/dist/flexboxgrid.css';

@import '~mdi/css/materialdesignicons.css';

body {
  background-color: @grey-100;
}

#app, .mui-app-canvas, .page-container-fluid {
  height: 100%;
}

.app-bar {
  position: absolute;
  height: 64px;
  z-index: 0;

  @media only screen and (min-width: 30em) {
    &.icon-hidden-xs .mui-app-bar-navigation-icon-button {
      visibility: hidden;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    line-height: 64px;

    li {
      float: left;
      transition: background-color .3s;

      a {
        overflow: inherit;
        background-color: transparent;
        color: @dark-white;

        &:hover, &.active {
          background-color: @cyan-600;
        }
      }
    }
  }
}

.app-bar-extended {
  height: 128px;
}

.left-nav {
  .logo {
    line-height: 64px;
    font-size: 24px;
    font-weight: 300;
    background-color: @cyan-500;
    color: @full-white;
    padding-left: 24px;
    padding-top: 0;
    margin-bottom: 8px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
    display: block;
  }

  a.active {
    color: @pink-A200;
  }

  .menu-item {
    font-size: 14px;
    font-weight: 500;

    .mdi {
      float: left;
      font-size: 24px;
      line-height: 48px;
      margin-right: 24px;
    }
  }
}

.page-container, .page-container-fluid {
  padding-top: 64px;
}

.page-container-fluid {
  >.row {
    margin: 0;
    height: 100%;

    >div {
      padding: 0;
    }
  }
}

.chat-title {
  .avatar {
    float: left;
    margin-top: 10px;
    border-radius: 3px;
  }

  .user-info {
    margin-left: 44px;
    padding: 15px 10px;
    line-height: normal;

    .user-name {
      font-size: 16px;
    }

    .user-email {
      margin-top: 1px;
      font-size: 12px;
    }
  }
}

.form-container {
  z-index: 1;
  background-color: #fff;

  img {
    display: block;
    margin: auto;
  }

  form {
    .form-field {
      width: 100%;
    }

    button, a {
      float: right;
      margin-top: 2rem;
    }

    .error-message {
      color: red;
    }
  }

  >div {
    padding: 2rem;
  }
}

.navigation-header {
  background-color: @cyan-500;
  color: @full-white;
  padding: 8px 24px;

  .avatar {
    border-radius: 3px;
    margin-top: 8px;
  }

  .subtitle {
    padding: 8px 0;

    .user-name {
      font-size: 14px;
      font-weight: 500;
    }

    .user-email {
      font-size: 14px;
    }
  }
}

.flex-paper {
  flex: 1;
  display: flex;
  >.mui-paper-container {
    height: inherit;
    margin: 0;
  }
}

.right {
  float: right !important;
}

.hidden-sm {
  @media (max-width: 30em) {
    display: none !important;
  }
}
